@import 'src/assets/scss/imports/variables';
.change-password{
  color:$dark-grey;
  max-width: 300px;
  margin: auto;
  font-size: 14px;
  &__main{
    padding: 20px;
  }
  &__login{
    text-align: center;
    margin: 10px 0;
    text-transform: capitalize;
    cursor: pointer;
    opacity: 0.8;
    &:hover{
      transition: .1s;
      opacity: 1;
    }
  }
}
