// size
$mobile-size: 767px;

// colors
$white: #fff;
$light-white: #e4e6e8;
$black: #000;
$orange: #ffa500;
$blue: #01c3cd;
$disabled-btn: #cccccc;
$dark-grey: #7c7774;
$light-grey: #f1f3f4;

// backgrounds
$main-background: #f9f9f9;
